.login.form
	.message
	form.form-horizontal
		.control-group
			label.control-label(for="inputUsername") Username
			.controls
				input.input.username(type="text", id="inputUsername", placeholder="Username")
		
		.control-group
			label.control-label(for="inputPassword") Password
			.controls
				input.input.password(type="password", id="inputPassword", placeholder="Password")
		
		.control-group
			.controls
				button.btn.login(type="submit") Login