nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			a.navbar-brand(href="#") User Manager
		ul.nav.navbar-nav
			li.active
				a(href="#/home") Home
			li
				a(href="#/music") Music
			li
				a(href="#/login") Login